<ul [class.lined]="!rootNode">
  <li *ngFor="let node of nodes">
    <span (click)="toggleNode(node)">
      <span *ngIf="node[childKey]?.length">{{
        nodeExpanded(node) ? '-' : '+'
      }}</span>
      <ng-container
        *ngTemplateOutlet="content; context: { $implicit: node }"
      ></ng-container>
    </span>
    <div class="div" [class.hide]="!nodeExpanded(node)">
      <app-tree-view
        [nodes]="node[childKey]"
        [selectable]="selectable"
        (nodeSelected)="onNodeSelected($event)"
        [expanded]="expanded"
        [rootNode]="false"
        [childKey]="childKey"
        [content]="content"
        [expandAllSubject]="expandAllSubject"
        [collapsellSubject]="collapsellSubject"
      ></app-tree-view>
    </div>
  </li>
</ul>
